/* PELIN TAUSTAT */
body.easy-bg {
  background: linear-gradient(135deg, #064e3b 0%, #047857 50%, #10b981 100%);
}

body.medium-bg {
  background: linear-gradient(135deg, #78350f 0%, #b45309 50%, #f59e0b 100%);
}

body.hard-bg {
  background: linear-gradient(135deg, #450a0a 0%, #991b1b 50%, #dc2626 100%);
}
  